<h1><%= @lesson.name %></h1>

<article><%= @lesson.content %></article>

<p><%= link_to "Edit This Lesson", edit_lesson_path %></p>
<p><%= link_to "Delete This Lesson", lesson_path(@lesson), :data => {:confirm => "Are you suuuure?", :method => "delete"}%></p>
<p><%= link_to "Back to all lessons", lessons_path %>
