<!DOCTYPE html>
<html>
  <head>
    <title>LearnHowClone</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <header class="jumbotron">
      <h1 class="container">Learn how to Clone</h1>
    </header>

    <section style="display: none;">
      <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
      <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
    </section>

    <main class="container">
      <%= yield %>
    </main>

    <footer></footer>

  </body>
</html>
